<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>Mobile GaoOS news</title>
    <description>RSS feed for Mobile GaoOS</description>
    <lastBuildDate><%= entries.first[:date].rfc822 %></lastBuildDate>
    <link>https://Gao-OS.github.io/Mobile-GaoOS/</link>
    <atom:link href="https://Gao-OS.github.io/Mobile-GaoOS/index.xml" rel="self" type="application/rss+xml"/>
<%= item_nodes.join("\n") %>
  </channel>
</rss>
